@charset "utf-8";

.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

/* ====================== Header ====================== */
header {
  width: 100%;
  height: 60px;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 1000;
  left: 0;
}
#sidebarToggler{
  position: fixed;
  top: 7px;
  left: 20px;
  border: 0;
  background: #000;
  color: #eee;
  font-size: 30pt;
  cursor:pointer;
  padding: 0;
  line-height: 30pt;
}
h1 {
  color: #eee;
  margin: auto 0 auto 30px;
  width: 100%;
  height: 60px;
  display: block;
}
