@charset "utf-8";
/* CSS Document */
/*******  Normalize *********/
html{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
/****************************/
.App, #root, body {
  background-color: #000;
}

.App-title {
  font-size: 1.5em;
}

/* ====================== Header ====================== */
header {
  width: 100%;
  height: 60px;
  background-color: #000;
  top: 0;
  z-index: 1000;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0;
}
#sidebarToggler{
  position: fixed;
  top: 7px;
  left: 20px;
  border: 0;
  background: #000;
  color: #eee;
  font-size: 30pt;
  cursor:pointer;
  padding: 0;
  line-height: 30pt;
}
h1 {
  color: #eee;
  margin: 0;
  width: 100%;
  display: block;
}
@media screen and (max-width: 650px) {

  header{
    height: 40px;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
   }
  #sidebarToggler{
    display: none;
  }
}
/* ==================== Sidebar ==================== */
.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #000;
    transition: 0.5s;
    padding: 0;
}
.sidebar.sidebar-open{
  width: 250px;
}
@media screen and (max-width: 650px) {
  .sidebar, .sidebar.sidebar-open{
    top: calc(60vh + 40px);
    width: 100%;
  }
}
/* ====================== Map ====================== */
.map-container {
  background: #000 none repeat scroll 0 0;
  height: 100%;
  right: 0;
  position: fixed;
  display: block;
  top: 60px;
  margin: 0;
  transition: margin-left .5s;
  width: 100%;
}
.map-container.sidebar-open{
  margin-left: 0;
  width: calc(100% - 250px);
}
#map{
  height: 100%;
  display: flex;
}
.map-error{
  color: red;
  text-align: center;
  align-self: center;
  width: 100%;
}
.venue-info{
  display: flex;
  flex-wrap: wrap;
}
.venue-info p{
  margin: 5px 2px;
  hyphens: none;
}
.venue-info p:after{
  background-image: url(powered-by-foursquare-grey.svg);
  width: 100%;
  height: 10px;
  content: '';
  display: block;
  margin: 10px 0 0 0;
  background-repeat: no-repeat;
}
.venue-info img{
  max-height: 150px;
  max-width: 150px;
}
@media screen and (max-width: 650px) {
  .map-container, .map-container.sidebar-open{
    top: 40px;
    width: 100%;
    height: 60vh;
    display: block;
  }
}
/* ================== List Venues =================== */
.venues-list-container{
    height: calc(100% - 130px);
    width: 100%;
    transition: 0.5s;
    overflow: scroll visible;
  display: block;
}
.venues-list{
  list-style: outside none none;
  margin: 15px 0 0 0;
  padding: 0 0 15px 0;
  text-align: left;
  flex-direction: column;
  flex-wrap: nowrap;
  
  transition: 0.3s;
}
.venue-list-item{
  margin: 0;
  height: 30px;
  text-align: left;
  padding: 10px 8px 10px 20px;
  color: #eee;
  display: flex;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.venue-list-item:hover{
  background: #333;
}
.venue-list-item.selected, .venue-list-item.selected:focus{
  background: #eee;
  color: #000;
}
.venue-list-item:focus{
  outline: 0;
  box-shadow: 0 0 8px 3px #ffcc0d;
  background: #333;
}
@media screen and (max-width: 650px) {
  .venues-list-container{
    width: 100%;
    height: calc(35vh - 100px);
  }
  .venues-list{
    overflow-y: scroll visible;
    margin: 0;
  }
  .venue-list-item{
    height: 40px;
  }
}

/* ================== Search Venues =================== */
.search-venues-container{
  width: 100%;
  height: 70px;
  align-items: center;
  transition: 0.3s;
}
.search-venues{
  background-color: #fff;
  border-radius: 4px; 
  font-family: Arial,sans-serif;
  font-size: 1rem;
  font-style: normal;
  height: auto;
  letter-spacing: 0;
  text-indent: 5px;
  margin: 10px;
  width: 80%;
  border: none;
  cursor: pointer;
  padding: .8125rem;
  padding-right: 1rem;
  padding-left: .5rem;
  -webkit-appearance: none;
}
input:focus, select:focus {
  outline: 0;
  box-shadow: 0 0 8px 3px #ffcc0d;
}
.showing-venues{
  color: #aaa;
  height: 7px;
  margin: 2px 0 0 0;
  font-size: 0.8rem;
  text-align: center;
}
.showing-venues button{
  color: orange;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
}
@media screen and (max-width: 650px) {
  .search-venues-container{
    width: 100%;
    height: 50px;
    padding: 10px 5px 5px 5px;
  }
  .search-venues{
    width: 90%;
    margin: 0;
  } 
}